html{
    box-sizing: border-box;
}

body{
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

h1{
    text-align: center;
    font-size: clamp(3rem, 4rem, 5rem);
    font-family:'Arial Narrow Bold', sans-serif;
    color: #cc4311;
    letter-spacing: 2px;
    user-select: none;
}

h1:hover{
    transform: scale(1.2);
    transition: transform .5s;
}

.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-size: clamp(2rem, 3rem, 4rem);
}

.add{
    border: solid 1.5px #aaa;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: .5rem;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.container{
    margin: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.template-container{
    position: relative;
    overflow: hidden;
    border-radius: .3rem;
}

.delete-container{
    cursor: pointer;
    position: absolute;
    bottom: -100%;
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(230, 20, 20, .7);
    border-radius: .3rem;
    transition: .3s;
}

.template-container:hover .delete-container{
    bottom: 0;
}

.delete-container p{
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    user-select: none;
}

.delete-container i{
    font-size: 25px;
    color: #fff;
    margin-left: 35px;
}

img{
    object-fit: cover;
    border-radius: .3rem;
    width: calc(99vw / 3);
    height: calc(99vw / 3);
}

.ventana-modal{
    position: fixed;
    left: 16%;
    top: -1200px;
    width: 65%;
    border: solid 2px #aaa;
    background-color: #eeeeee;
    border-radius: 10px;
    transition: top 1s linear;
}

.ventana-modal h2{
    text-align: center;
    color: forestgreen;
    font-size: clamp(1.5rem, 2rem, 3rem);
}

.ventana-modal select{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 35px;
    border: 0px;
    border-radius: 7px;
    background: linear-gradient(to bottom, #ccc, #888);
    margin-bottom: 30px;
}

.ventana-modal select:focus{
    outline: none;
}

.button-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.button-container button{
    background-color: #82d3d9;

}

.button-container input{
    background-color: #fff;
}

.button-container input, .button-container button{
    border-radius: 5px;
    font-weight: 500;
    width: 30%;
    height: 30px;
    border: 1px solid #333;
}

.visible{
    top: calc((100vh / 2) - 90px);
}

@media only screen and (min-width: 740px) {
    .container{
        margin: 0 auto;
        width: 80%;
        gap: 10px;
    }

    img{
        width: calc( 75vw / 3);
        height: calc(75vw / 3);
    }

    
.ventana-modal{
    left: 30%;
    width: 40%;
}

.ventana-modal h2{
    margin-bottom: 55px;
}

.ventana-modal select{
    height: 40px;
    border: 0px;
    border-radius: 7px;
    background: linear-gradient(to bottom, #ccc, #888);
    margin-bottom: 65px;
}
}