:root {
    --step--2: clamp(1.48rem, 1.27rem + 1.02vw, 2.00rem);
    --step--1: clamp(1.77rem, 1.49rem + 1.42vw, 2.50rem);
    --step-0: clamp(2.13rem, 1.73rem + 1.95vw, 3.13rem);
    --step-1: clamp(2.55rem, 2.02rem + 2.65vw, 3.91rem);
    --step-2: clamp(3.06rem, 2.35rem + 3.56vw, 4.88rem);
    --step-3: clamp(3.67rem, 2.72rem + 4.75vw, 6.10rem);
    --step-4: clamp(4.41rem, 3.15rem + 6.29vw, 7.63rem);
    --step-5: clamp(5.29rem, 3.63rem + 8.29vw, 9.54rem);
  }

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

.title{
    text-align: center;
    font-size: var(--step-2);
    font-family:'Arial Narrow Bold', sans-serif;
    color: #eed183;
    letter-spacing: 2px;
    user-select: none;
}

.title:hover{
    transform: scale(1.2);
    transition: transform .5s;
}

.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navbar__add-image{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__title{
    margin: 15px 0;
    font-size: var(--step-0);
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar__button{
    border: solid 1.5px #aaa;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: .5rem;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.navbar__delete-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.navbar__text{
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar__icon{
    color: #e00;
    font-size: 22px;
    animation: trash 1s ease-in infinite;
}

@keyframes trash{
    0%{ transform: rotate(0); } 

    20%{ transform: rotate(25deg); }

    40%{ transform: rotate(-25deg); }

    60%{ transform: rotate(25deg); }

    80%{ transform: rotate(-25deg); }

    100%{ transform: rotate(0); }
}

.main-container{
    margin: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.delete-container{
    text-align: center;
    margin: 25px;
}

.delete-container__button{
    width: 30%;
    letter-spacing: 5px;
    color: #fff;
}

.ventana-modal{
    position: fixed;
    left: 16%;
    top: -1200px;
    width: 65%;
    border: solid 2px #aaa;
    background-color: #eeeeee;
    border-radius: 10px;
    transition: top 1s linear;
}

.ventana-modal__title{
    text-align: center;
    color: forestgreen;
    font-size: clamp(1.5rem, 2rem, 3rem);
}

.ventana-modal__form{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 35px;
    border: 0px;
    border-radius: 7px;
    background: linear-gradient(to bottom, #ccc, #888);
    margin-bottom: 30px;
    cursor: pointer;
}

.ventana-modal__form:focus{
    outline: none;
}

.ventana-modal__button-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.ventana-modal__close-button{
    background-color: #82d3d9;
    cursor: pointer;

}

.ventana-modal__close-button:hover{
    background-color: #a2e3e9;

}

.ventana-modal__add-button{
    background-color: #eee;
    cursor: pointer;
}

.ventana-modal__add-button:hover{
    background-color: #fff;
}

.ventana-modal__close-button,
.ventana-modal__add-button{
    border-radius: 5px;
    font-weight: 500;
    width: 30%;
    height: 30px;
    border: 1px solid #333;
}

.visible{
    top: calc((100vh / 2) - 90px);
}
 
.template-img__container{
    position: relative;
    overflow: hidden;
    border-radius: .3rem;
}

.template-img__img{
    object-fit: cover;
    border-radius: .3rem;
    width: calc((100vw / 3) - (4px / 3));
    height: calc((100vw / 3) - (4px / 3));
}

.template-img__checkbox{
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
    cursor: pointer;
}

.visible-checkbox{
    visibility: visible;
}

@media only screen and (min-width: 740px) {
    .main-container{
        margin: 0 auto;
        width: 80%;
        gap: 10px;
    }

    .template-img__img{
        width: calc( 75vw / 3);
        height: calc(75vw / 3);
    }

    
    .ventana-modal{
        left: 30%;
        width: 40%;
    }

    .ventana-modal__title{
        margin-bottom: 55px;
    }

    .ventana-modal__form{
        height: 40px;
        border: 0px;
        border-radius: 7px;
        background: linear-gradient(to bottom, #ccc, #888);
        margin-bottom: 65px;
    }
}